@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

html, body {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	color: #333;
	font-size: 2rem;
	background-image: linear-gradient(rgba(204, 0, 0, 0.4), rgba(0, 174, 142, 0.4), rgba(0, 146, 58, 0.4));
}

body:after {
	content: "";
	background-image: url("./img/dark-denim-3.png");
	height: 100%;
	width: 100%;
	opacity: 1;

}

.container {
	width: 80%;
	height: 100vh;
	margin: auto;
}

a {
	color: #333;
	text-decoration: none;
}
